<h1>Welcome, {{ userInfo.firstName }}</h1>
<ul class="nav nav-tabs" id="accountTabs">
    <li class="active"><a href="#promotions" data-toggle="tab">Shop Promotions</a></li>
    <li><a href="#history" data-toggle="tab">Purchase History</a></li>
    <li><a href="#password" data-toggle="tab">Change Password</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="promotions">
        {% if userInfo.availablePromotions.length == 0 %}
            <div>There are no promotions assigned to your account.</div>
        {% else %}
			{% for item in userInfo.availablePromotions %}
               <a href="#" data-promotion="{{ item.promotionCode }}">{{ item.promotionName }}</a><br />
       		{% endfor %}
		{% endif %}
    </div>
    <div class="tab-pane" id="history">
        {% if userInfo.myOrders.length == 0 %}
            <div>You have no purchase history.</div>
		{% else %}
        <table class="order-history table">
            <tr>
                <th>Order Date</th>
                <th>Programs</th>
                <th>Order #</th>
                <th>Status</th>
                <th>Date Shipped</th>
            </tr>
			{% for order in userInfo.myOrders %}
                <tr class="quick-info">
                    <td>{{ order.orderDate }}</td>
                    <td>{{ order.promotionName }}</td>
                    <td>{{ order.orderNumber }}</td>
                    <td>{{ order.orderStatusDesc }}</td>
                    <td>{{ order.shippedDate }}</td>
                </tr>
                <tr class="detail">
                    <td colspan="5">
                        <div class="slide">
                            <table class="order-table" cellspacing="0" cellpadding="0" border="0">
                                <caption>Purchased Items</caption>
								{% for item in order.items %}
                                <tr>
                                    <td><div class="img"><img src="[%=item.itemImage%]" /></div></td>
                                    <td>{{ item.itemSize }} {{ item.itemColor }}</td>
                                    <td>{{ item.itemName }} {{ item.itemQuantity }}</td>
                                    <td>{{ item.itemNumber }}</td>
                                    <td>{{ item.itemTotalPrice | cur }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" align="right">w/ tax &amp; shipping &nbsp;</td>
                                    <td><b>{{ order.totalOrderedAmount | cur }}</b> total</td>
                                </tr>
                            </table>
                            <table class="order-detail" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <caption class="header">Order Detail</caption>
                                <tr>
                                    <td valign="top">
                                        <b>Shipped To:</b><br />
										{{ order.shipToAttention }}<br />
                                        {{ order.shipToStreet }}<br />
                                        {{ order.shipToCity }}, {{ order.shipToState }} {{ order.shipToZip }}
                                    </td>
                                    <td valign="top">
                                        <b>Tracking Information</b><br />
                                        Shipped: {{ order.shippingMethodCode }}<br />
                                        Tracking: {{ order.trackingNumber }}                
                                    </td>
                                    <td valign="top">
                                        <b>Billed To:</b><br />
                                        zip code {{ order.billToZip }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="tab-pane" id="password">
		<div class="row">
			<div class="col-sm-6">
		        <form action="#" role="form" method="post" id="changePasswordForm">
					<div class="form-group">
						<label for="oldPassword">Old Password</label>
						<input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password">
					</div>
					<div class="form-group">
						<label for="newPassword">New Password</label>
						<input type="password" class="form-control" id="newPassword" placeholder="Enter New Password">
					</div>
		            <div class="alert alert-danger" style="display:none;"></div>
		            <div class="alert alert-success" style="display:none;"></div>
		            <button type="submit" class="btn btn-success">Change Password</button>
		        </form>
			</div>
		</div>
    </div>
</div>