<table id="cart">
    <thead>
    <tr>
        <th colspan="2" class="product-detail">&nbsp;</th>
        <th class="qty">qty</th>
        <th class="price">price</th>
        <th colspan="2" class="subtotal">sub total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr data-sku="{{ item.sku }}">
            <td><a href="{{ item.url }}"><img class="cart-image" src="{{ item.images[0] }}"></a></td>
            <td>{{ item.productName }} - {{ item.colorName }} - {{ item.sizeName }}</td>
            <td><input class="qty input-min" type="text" value="{{ item.quantity }}" maxlength="2"></td>
            <td>${{ item.msrp.toFixed(2) }}</td>
            <td>${{ item.subtotal.toFixed(2) }}</td>
            <td><button class="btn btn-danger btn-mini btn-close"><i class="fa fa-minus-circle"></i></button></td>
        </tr>
	{% endfor %}
    <tr>
        <td colspan="6" class="subtotal"><strong>subtotal:</strong> ${{ subtotal.toFixed(2) }}</td>
    </tr>
    <tr>
        <td colspan="6" class="checkout"><a href="/checkout"><button class="checkout btn btn-success"><i class="fa fa-shopping-cart"></i> Checkout</button></a></td>
    </tr>
    </tbody>
</table>
<div id="no-items" style="display:none;">No Items in Cart</div>