<div class="product-container">
	<div class="product" data-productnumber="{{ colors[0].productNumber }}">
		<a href="{{ colors[0].productURL }}">
			<span class="quick-view">QUICKVIEW</span>
			<img src="{{ colors[0].images[0] }}">
			<span class="productName">{{ colors[0].productName }}</span>
			<span class="price">
				{% if colors[0].discount %}
					<span class="discount">
				{% endif %}
						<span class="unit-price">${{ colors[0].sizes[0].unitPrice }}</span>
						<span class="msrp">${{ colors[0].sizes[0].msrp }}</span>
				{% if colors[0].discount %}
					</span>
				{% endif %}
			</span>
		</a>
	</div>
	<div></div>
	<button class="add-to-cart" data-add-to-cart data-sku="{{ colors[0].sizes[0].sku }}">
		<span class="text-container"><i class="fa fa-shopping-cart"></i><span class="text">add to cart</span></span>
	</button>
</div>
