<div class="product-container">
	<div class="product" data-productnumber="{{ color.productNumber }}" data-producturl="{{ color.productURL }}">
		<a href="{{ color.productURL }}">
			<span class="quick-view">QUICKVIEW</span>
			<img src="{{ color.images[0] }}">
			<span class="productName">{{ color.productName }}</span>
			<span class="price">
				{% if color.discount %}
					<span class="discount">
				{% endif %}
				<span class="unit-price">{{ color.size.unitPrice | cur }}</span>
				<span class="msrp">{{ color.size.msrp | cur }}</span>
				{% if color.discount %}
					</span>
				{% endif %}
			</span>
		</a>
	</div>
</div>
