<div class="product-container">
	<div class="product" data-productnumber="{{ color.productNumber }}" data-producturl="{{ color.productURL }}">
		<a href="{{ color.productURL }}">
			<span class="quick-view">QUICKVIEW</span>
			<img src="{{ color.images[0] }}">
			<span class="productName">{{ color.productName }}</span>
			<span class="price">
				{% if color.size.msrp > color.size.unitPrice %}
					<span class="msrp slash">{{ color.size.msrp | cur }}</span>
					<span class="unit-price sale">{{ color.size.unitPrice | cur }}</span>
				{% else %}
					<span class="unit-price">{{ color.size.unitPrice | cur }}</span>
				{% endif %}
			</span>
		</a>
	</div>
</div>
