<div class="product-container">
	<div class="product" data-productnumber="{{ product.productNumber }}">
		<a href="{{ product.productURL }}">
			<span class="quick-view">QUICKVIEW</span>
			<img src="{{ product.images[0] }}">
			<span class="productName">{{ product.productName }}</span>
			<span class="price">
				{% if product.discount %}
					<span class="discount">
				{% endif %}
						<span class="unit-price">{{ product.sizes[0].unitPrice | cur }}</span>
						<span class="msrp">{{ product.sizes[0].msrp | cur }}</span>
				{% if discount %}
					</span>
				{% endif %}
			</span>
		</a>
	</div>
</div>



