<div class="product-container">
	<div class="product" data-productnumber="{{ productNumber }}">
		<a href="{{ productURL }}">
			<span class="quick-view">QUICKVIEW</span>
			<img src="{{ images[0] }}">
			<span class="productName">{{ productName }}</span>
			<span class="price">
				{% if discount %}
					<span class="discount">
				{% endif %}
						<span class="unit-price">${{ sizes[0].unitPrice }}</span>
						<span class="msrp">${{ sizes[0].msrp }}</span>
				{% if discount %}
					</span>
				{% endif %}
			</span>
		</a>
	</div>
</div>



