<div class="modal-dialog">
  <div class="modal-content clearfix">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{ productName }}</h4>
    </div>
    <div class="modal-body">
      <!-- start of content -->
		<div class="left-column">
		<div class="big-product-image"></div>
		<div class="product-colors">

		</div>
		</div>
		<div class="right-column">
		<div class="product-name">
			<span>{{ productName }}</span>
		</div>
		<div class="line-break"></div>
		<div class="product-price">
			{% if isSale %}
				<span class="slash">${{ msrp }}</span>
			{% endif %}
			<span>${{ unitPrice }}</span>
		</div>
		<div class="select-pattern">
			<select class="pattern-dropdown">
			  	<option value="">Select Pattern</option>
				{% for color in colors %}
			  		<option value="">{{ color.colorName }}</option>
			  	{% endfor %}
			</select>
		</div>
		<div class="select-size">
			<select class="size-dropdown">
			  	<option value="">Select Size</option>
				{% for size in sizes %}
			  		<option value="">{{ size.sizeName }}</option>
			  	{% endfor %}
			</select>
		</div>
		<div class="product-next">
			<a id="product-decrement" href=""><span class="minus-product">-</span></a>
			<a id="product-equal" href=""><span class="equal-product">0</span></a>
			<a id="product-increment" href=""><span class="add-product">+</span></a>
		</div>
		<div class="product-add-to-cart">
			<a href=""><span class="click-add-to-cart">ADD TO CART</span></a>
		</div>
		<div class="product-code">
			<span>Product Code: {{ productUID }}</span>
		</div>
		<div class="product-availability"><span>Availability: In Stock</span></div>
		<div class="second-line-break"></div>
		<div class="product-description">{{ descriptions[0] }}</div>
		</div>
		<!-- end of content -->
    </div>
  </div>
</div>
