<div class="modal fade quick-view-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Modal title</h4>
       </div>
       <div class="modal-body">
         <!-- start of content -->

		<h1>quick view</h1>

		<!-- end of content -->
       </div>
     </div>
   </div>
 </div>
 <script src="/js/quickview.js"></script>
 