{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/pages/cart.css">
{% endblock %}

{% block content %}
	<h3>Your Cart</h3>
	<div id="cartList"></div>
{% endblock %}

{% block foot %}
	<div class="modal-cart modal fade" style="display:none">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">&nbsp;</h4>
	      </div>
	      <div class="modal-body">
	        <p class="alert alert-info"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script type="text/template" id="carttemplate">
	{{ cartFile | safe }}
	</script>
	<script src="/js/pages/cart.js"></script>
{% endblock %}