{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="/css/catalog.css">
{% endblock %}

{% block content %}
	<div class="breadcrumb"><span>Home > Girls</span></div>
	<div class="left-column-catalog">
		<a href="" class="departments"><span>DEPARTMENTS</span></a>
		<ul class="nav-list">
			<li><a href="">GIRLS</a></li>
			<li><a href="">BOYS</a></li>
			<li><a href="" class="fuzzy">FUZZY FLEECE</a></li>
			<li><a href="">SALE</a></li>
		</ul>
	</div>
	<div class="right-column-catalog">
		<div class="catalog-header">HEADER</div>
		<div class="right-container">
			<div class="right-container-title">SLUMBER AND SMILE</div>
			<div class="right-container-border"></div>
			<div class="right-container-description">
				Lorem ipsum dolor sit amet, consectetuer sed diam noncidunt ut 
				ut laoreet doloedfgfffen fojneorn oenog ioirjgo jgr[jrjrioe[j 
			</div>
			<div class="right-banner"></div>
		</div>
		<div class="sort-product-bar">
			<div class="left-dropdown">
				<span class="sort-by">Sort by :</span>
				<select class="sort-dropdown">
			  	  	<option value="">Default</option>
				  	<option value=""></option>
				 	<option value=""></option>
				  	<option value=""></option>
				</select>
			</div>
			<div class="right-dropdown">
				<span class="show">Show :</span>
				<select class="show-dropdown">
				  	<option value="">Search</option>
				  	<option value=""></option>
				  	<option value=""></option>
				</select>
			</div>
		</div>
	</div>
{% endblock %}

{% block foot %}
	{% include "./partials/quickview.html" %}
{% endblock %}