{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
		<div class="top-banner"></div>
		<div class="products">
			<div class="title">
				<span>NEW ITEMS</span>
			</div>
			<div class="featured-products">
				{% for product in products %} 
					{% include "./partials/product.html" with product only %}
				{% endfor %}
			</div>
			<a href="" class="productsbar"><i class="icon-th"></i><span>SHOW MORE</span></a>
		</div>
{% endblock %}

{% block foot %}
	
{% endblock %}