<!DOCTYPE html>
<html>
    <head>
		<title>{{title}}</title>
		<meta name="description" content="{{description}}">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
		{% block head %}

		{% endblock %}
    </head>
    <body>
		<div class="top full-width">
			<div class="block1">
				<div class="site-width">
					<ul class="nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Register</a></li>
					</ul>
					<ul class="social">
						<li><a href="#">facebook</a></li>
						<li><a href="#">pintrest</a></li>
					</ul>
				</div>
			</div>
			<div class="zigzag"></div>
			<div class="block2">
				<div class="site-width">
					<ul class="nav">
						<li class="logo-container"><a href="#" class="logo"></a></li>
						<li><a href="#" class="item"><span>Home</span></a></li>
						<li><a href="#" class="item"><span>Girls</span></a></li>
						<li><a href="#" class="item"><span>Boys</span></a></li>
						<li><a href="#" class="item"><span>UpPasta8-Fuzzy-Fleece</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="full-width">
			<div class="site-width">
	        {% block content %}

			{% endblock %}
			<div class="copyright">
                <span>&copy;{{year}} Sara's Prints.</span> All Rights Reserved
            </div>
			</div>
		</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="/js/plugins/swig.pack.min.js"></script>
		<script src="/js/app.js"></script>
        {% block foot %}

		{% endblock %}
    </body>
</html>