<!DOCTYPE html>
<html>
    <head>
		<title>{{seo.title}}</title>
		<meta name="description" content="{{seo.description}}">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script type="text/javascript" src="//use.typekit.net/ody1owy.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link href="/css/main.css" rel="stylesheet">
		<link href="/css/quickview.css" rel="stylesheet">
		<meta name="kitgui-page-id" content="{{ kitguiPageID }}">
		{% block head %}

		{% endblock %}
    </head>
    <body>
		<div class="top full-width">
			<ul class="smallnav site-width">
				<li class="signedin"><a href="/account">My Account</a></li>
				<li class="signedin"><a href="/signout">Sign Out</a></li>
				<li class="signedout"><a href="/sign-in">Sign In</a></li>
				<li><a href="https://www.facebook.com/pages/Saras-Prints/440631346056025" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
				<li><a href="http://www.pinterest.com/sarasprints/" class="pintrest"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<div class="banner site-width">
				<a href="/" class="logo"></a>
				<ul class="topnav">
					<li><a href="/shop-pajamas">Shop Pajamas</a></li>
					<li><a href="/boys-pajamas">Pajamas for Boys</a></li>
					<li><a href="/girls-pajamas">Pajamas for Girls</a></li>
					<li><a href="/fuzzy-fleece">Fuzzy Fleece</a></li>
					<li><a href="/sale">Sale</a></li>
				</ul>
				<ul class="cart">
					<li><i class="fa fa-shopping-cart"></i></li>
					<li data-quantity>0 items</li>
					<li>|</li>
					<li data-subtotal>0.00</li>
				</ul>
			</div>
		</div>
		<div class="middle full-width">
			<div class="site-width">
				<div class="content clearfix">
					<div class="inner-content">
						{% include "./partials/quickview.html" %}
						{% block content %}
				
						{% endblock %}
					</div>
				</div>
				<div class="newsletterContainer row">	
					<div class="col-md-6">
						<div class="move">
							<div class="slogan"><span>if you love sara's, you'll adore our other brand...</span></div>	
							<a href="/american-widgeon" class="awlogo"></a>
							<!--<a href="http://www.candybean.com" class="pinklogo"></a>-->
						</div>
					</div>
					<form action="subscribe.html" class="col-md-6 subscribebar newsletter">
						<div class="move moveRight">
							<a class="join-saras-club" href="/join-saras-club"><span>Join Sara's Club</span></a>
							<div class="signup newsletter"><span>sign up for event and promotions</span></div>
							<input type="text" name="subscribeemail" placeholder="add your email" class="subscribeemail"/> 
							<button class="subscribetext"><span>subscribe</span></button>
						</div>
				    </form>
				</div>
			</div>
		</div>
		<div class="bottom full-width">
			<div class="site-width">
				<div class="footer">
					<ul>
						<li><a href="/customer-service"><span class="header">Customer Service</span></a></li>
						<li><a href="/my-account">My Account</a></li>
						<li><a href="/sizing">Sizing</a></li>
					</ul>
					<ul>
						<li><a href="/story"><span class="header">The Sara's Prints story</span></a></li>
						<li><a href="/testimonials">Testimonials</a></li>
					</ul>
					<ul>
						<li><a href="/contact-us"><span class="header">Contact Us</span></a></li>
						<li><span>1-888-4-PRINTS</span></li>
						<li><span>(1-800-477-4687)</span></li>
						<li><a href="mailto:info@sarasprints.com">info@sarasprints.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="last full-width">
			<div class="site-width">
				<div class="copyright">
	        		<span>Copyright &copy;{{year}} by Sara's Prints | All Rights Reserved | <a href="privacy-security">Privacy &amp; Security</a></span>
					<div class="ccimages"></div>
	    		</div>
			</div>
		</div>
		<div class="modal fade" data-global-dialog style="display:none">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title"></h4>
		      </div>
		      <div class="modal-body">
		        <p class="alert alert-info"></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/plugins/swig.pack.min.js"></script>
		<script src="//api.hubsoft.ws/js/api.js"></script>
		<script src="/js/app.js"></script>
        {% block foot %}

		{% endblock %}
		<script type="text/javascript">
			var kitgui = { key: '{{ kitguiAccountKey }}', tabVisible: false };
			$(function(){
				$('.copyright').click(function(){ kitgui.showTab(); });
			});
		</script>
		<script src="/kitgui/js/kitgui.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-48962437-1', 'sarasprints.com');
		  ga('send', 'pageview');

		</script>
    </body>
</html>