{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/pages/product.css">
{% endblock %}

{% block content %}
<div data-product data-detail-div>
	<div class="left-column">
		<div class="big-product-image" data-big-product-image style="background-image:url('{{ product.images[0] | safe }}')"></div>
		<div class="product-colors">
			{% for color in product.colors %}	
				<a href="{{ color.productURL }}" data-productnumber="{{ color.productNumber }}" data-color><span class="swatch-color" style="background-image:url('{{ color.images[6] }}')"></span></a>
			{% endfor %}
		</div>
	</div>
	<div class="right-column">
		<h1 class="{{ items[pageID + 'Title'].classNames }}" data-product-name>{{ title | safe }}</h1>
		<div class="description {{ items[pageID + 'Description'].classNames }}">
			{{ description | safe }}
		</div>
		<div class="line-break"></div>
		<div class="product-price">
			{% if product.sizes[0].msrp > product.sizes[0].unitPrice %}
				<span class="slash" data-product-msrp>{{ product.sizes[0].msrp | cur }}</span>
				<span data-product-unit-price class="sale">{{ product.sizes[0].unitPrice | cur }}</span>
			{% else %}
				<span class="slash" data-product-msrp style="display:none">{{ product.sizes[0].msrp | cur }}</span>
				<span data-product-unit-price>{{ product.sizes[0].unitPrice | cur }}</span>
			{% endif %}
		</div>
		<div class="select-pattern">
			<select class="pattern-dropdown" data-colors>
			  	<option value="">Select Pattern</option>
			  	{% for color in product.colors %}
				<option value="{{ color.productNumber }}" data-href="{{ color.productURL}}">{{ color.colorName }}</option>
				{% endfor %}
			</select>  <i class="fa fa-asterisk" data-required style="display:none"></i>
		</div>
		<div class="select-size">
			<select class="size-dropdown" data-sizes>
			  	<option value="">Select Size</option>
			  	{% for size in product.sizes %}
					{% if size.inStockNow %}
						<option value="{{ size.sku }}">{{ size.sizeName }}</option>
					{% else %}
						<option value="{{ size.sku }}" disabled>{{ size.sizeName }} (out of stock)</option>
					{% endif %}
				{% endfor %}
			</select> <i class="fa fa-asterisk" data-required style="display:none"></i>
		</div>
		<div class="product-next unselectable">
			<a data-decrement><span class="minus-product">-</span></a>
			<a><span class="equal-product" data-quantity>1</span></a>
			<a data-increment><span class="add-product">+</span></a>
		</div>
		<div class="product-add-to-cart">
			<a href=""><span class="click-add-to-cart" data-add-to-cart>ADD TO CART</span></a>
		</div>
		<div class="product-code">
			<span>Product Code: <span data-productnumber>{{ product.productNumber }}</span></span>
		</div>
		<div class="product-availability"><span>
			{% if product.inStock %}
			Availability: In Stock
			{% else %}
			Availability: Out of Stock
			{% endif %}</span>
		</div>
		<div class="size-chart-link">
			<a class="view-size-chart" data-size-chart>View Sizing Chart</a>
		</div>
	</div>
</div>
{% endblock %}

{% block foot %}
	<script src="/js/pages/product.js"></script>
{% endblock %}