{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/product.css">
{% endblock %}

{% block content %}
	<div class="breadcrumb"><span>Home <i class="icon-angle-right"></i> Product Detail</div>
	<div class="left-column">
		<div class="big-product-image" style="background-image:url({{ product.images[0] }})"></div>
		<div class="product-colors">
			{% for color in product.colors %}	
				<a href="{{ color.productURL }}"><span class="swatch-text">{{ color.colorName }}</span><span class="swatch-color" style="background-color:{{ color.colorValue }};background-image:url('{{ color.imageSwatchUrl }}')"></span></a>
			{% endfor %}
		</div>
	</div>
	<div class="right-column">
		<div class="product-name">
			<span>{{ product.productName }}</span>
		</div>
		<div class="line-break"></div>
		<div class="product-price">
			{% if isSale %}
				<span class="slash">${{ msrp.toFixed(2) }}</span>
			{% endif %}
			<span>${{ unitPrice.toFixed(2) }}</span>
		</div>
		<div class="select-pattern">
			<select class="pattern-dropdown">
			  	<option value="">Select Pattern</option>
			  	{% for color in product.colors %}
				<option value="{{ color.productNumber }}">{{ color.colorName }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="select-size">
			<select class="size-dropdown">
			  	<option value="">Select Size</option>
			  	{% for size in product.sizes %}
				<option value="{{ size.sku }}">{{ size.sizeName }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="product-next">
			<a href=""><span class="minus-product">-</span></a>
			<a href=""><span class="equal-product">2</span></a>
			<a href=""><span class="add-product">+</span></a>
		</div>
		<div class="product-add-to-cart">
			<a href=""><span class="click-add-to-cart">ADD TO CART</span></a>
		</div>
		<div class="product-code">
			<span>Product Code: {{ product.productNumber }}</span>
		</div>
		<div class="product-availability"><span>
			{% if inStock %}
			Availability: In Stock
			{% else %}
			Availability: Out of Stock
			{% endif %}</span></div>
		<div class="second-line-break"></div>
		<div class="product-description"><span>{{ product.descriptions[0] }}</span>
		</div>
	</div>
{% endblock %}

{% block foot %}
	
{% endblock %}