.middle .top-banner {
	display:block;
	margin:0 auto;
	background-color:#fff;
	background-image:url(/img/bannersample.png);
	width:799px;
	height:423px;
	margin-bottom:20px;
}
.middle .products {
	display:block;
	position:relative;
	width:799px;
	min-height:412px;
	background-color:#fff;
	margin:0 auto;
}
.middle .title {
	position:absolute;
	left:24px;
	top:18px;
}
.middle .title span {
	font-weight:300;
	font-size:23px;
	color:#000;
}
.middle .productsbar {
	position:absolute;
	background-image:url(/img/products-bar.png);
	height:31px;
	width:751px;
	bottom:10px;
	left:24px;
}
.middle .featured-products {
	font-size:0;
	text-align:center;
	vertical-align:top;
}
.middle .product-container {
	margin-top:60px;
	margin-left:5px;
	vertical-align:top;	
	display:inline-block;
	text-align:center;
}
.middle .product-container .add-to-cart {
	color:#f00;
	display:block;
	font-size:15px;
	text-align:center;
}
.middle .product {
	display:inline-block;
	color:#000;
	width:170px;
	border:1px solid #dad7d7;
}
.middle .product a {
	display:block;
	border:1px solid #dad7d7;
	margin:1px;
	width:166px;
	height:230px;
	font-size:13px;
}
.middle .product img {
	width:166px;
	height:170px;
	display:block;
}
.middle .product .productName {
	color:#000;
}
.middle .price {
	display:block;
	text-align:center;
	color:#000;
}
.middle .price .msrp { 
	display:none; 
}
.middle .price .unit-price { 
	display:inline-block; 
}
.middle .price .discount .msrp { 
	display:inline-block; 
	text-decoration:line-through; 
}
.middle .price .discount .unit-price { 
	color:#f00;
	margin-left:10px; 
}