.middle .top-banner {
	display:block;
	margin:0 auto;
	background-color:#fff;
	background-image:url(/img/bannersample.png);
	width:799px;
	height:423px;
	margin-bottom:20px;
}
.middle .products {
	display:block;
	position:relative;
	width:799px;
	height:400px;
	background-color:#fff;
	margin:0 auto;
}
.middle .title {
	position:absolute;
	left:24px;
	top:18px;
}
.middle .title span {
	font-weight:200;
	font-size:19px;
	color:#848382;
}
.middle .productsbar {
	position:absolute;
	background-image:url(/img/products-bar.png);
	height:31px;
	width:751px;
	bottom:10px;
	left:24px;
}
.middle .price .msrp { display:none; }
.middle .price .unit-price { display:inline-block; }
.middle .price .discount .msrp { display:inline-block; text-decoration:line-through; }
.middle .price .discount .unit-price { color:#f00;margin-left:10px; }