.quick-view-modal {
}
.quick-view-modal h1 {
	color:#f00;
}
.quick-view-modal .modal-header {
	height:50px;
}
.quick-view-modal .modal-dialog {
	
}
.quick-view-modal .modal-content {
	position:relative;
	min-height:400px;
	width:650px;
}
.quick-view-modal .modal-body {

}
.quick-view-modal .left-column {
	display:block;
	position:relative;
	float:left;
	width:50%;
	min-height:500px;
	background-color:#fff;
	overflow:hidden;
	text-align:left;
	vertical-align:top;	
}
.quick-view-modal .big-product-image {
	position:relative;
	display:block;
	width:290px;
	height:480px;
	background-repeat:no-repeat;
	background-position:center center;
    background-size: contain;
}
.quick-view-modal .product-colors {
	position:relative;
	display:block;
	padding-left:20px;
	margin-top:20px;
}
.quick-view-modal .product-colors a {
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
	background-color:#ccc;
	overflow:hidden;
	width:50px;
	height:50px;
}
.quick-view-modal .product-colors a span {
	display:inline-block;
	width:50px;
	height:50px;
}
.quick-view-modal .swatch-text {
	display:block;
	font-size:14px;
	color:black;
	width:40px;
	vertical-align:middle;
}
.quick-view-modal .product-name span {
	font-size:24px;
	font-weight:400;
}
.quick-view-modal .line-break {
	border:2px solid black;
	width:46px;
	margin-top:6px;
}
.quick-view-modal .product-price {
	font-size:24px;
	font-weight:400;
	margin-top:12px;
}
.quick-view-modal .product-price span {
	font-weight:400;
}
.quick-view-modal .select-pattern {
	margin-top:40px;
	padding-left:2px;
}
.quick-view-modal .pattern-dropdown {
	font-size:20px;
}
.quick-view-modal .select-size {
	margin-top:30px;
	padding-left:2px;
}
.quick-view-modal .size-dropdown {
	font-size:20px;
}
.quick-view-modal .product-next {
	display:block;
	position:relative;
	margin-top:30px;
}
.quick-view-modal .product-next a {
	display:inline-block;
	margin-left:2px;
}
.quick-view-modal .product-next a span {
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:13px;
}
.quick-view-modal .minus-product {
	display:inline-block;
	width:30px;
	height:50px;
	background-color:#0099cc;
}
.quick-view-modal .equal-product {
	display:inline-block;
	width:70px;
	height:50px;
	background-color:#0099cc;
}
.quick-view-modal .add-product {
	display:inline-block;
	width:30px;
	height:50px;
	background-color:red;
}
.quick-view-modal .product-add-to-cart {
	display:block;
	position:relative;
	margin-top:10px;
	padding-left:2px;
}
.quick-view-modal .product-add-to-cart:hover * {
	text-decoration:none;
}
.quick-view-modal .click-add-to-cart {
	display:block;
	width:134px;
	height:50px;
	background-color:#0099cc;
	text-decoration:none;
}
.quick-view-modal .product-add-to-cart a span {
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:14px;
}
.quick-view-modal .product-code {
	margin-top:30px;
	padding-left:2px;
}
.quick-view-modal .product-code span {
	color:black;
	font-size:14px;	
	font-weight:400;
}
.quick-view-modal .product-availability {
	margin-top:10px;
	padding-left:2px;
}
.quick-view-modal .product-availability span {
	color:black;
	font-size:14px;	
	font-weight:400;
}
.quick-view-modal .second-line-break {
	margin-top:30px;
	margin-left:2px;
	width:46px;
	border:2px solid black;
}
.quick-view-modal .product-description {
	width :180px;
	margin-top:10px;
}
.quick-view-modal .product-description span {
	font-size:14px;
	color:black;
}
.quick-view-modal .right-column {
	position:relative;
	display:block;
	float:left;
	width:50%;
	min-height:300px;
	background-color:#fff;
	overflow:hidden;
	padding-bottom:40px;
}
.quick-view-modal .slash {
	text-decoration: line-through;
	color : #f00;
}