.middle .top-banner {
	display:block;
	margin:0 auto;
	background-color:#fff;
	margin-bottom:20px;
}
.middle .products {
	background-color:#fff;
	padding:20px;
}
.middle .title {

}
.middle .title span {
	font-weight:400;
	font-size:22px;
	color:#000;
}
.middle .productsbar {
	text-align:center;
	display:block;
	background-color:#0098ce;
	color:#fff;
	vertical-align:middle;
	margin-top:10px;
	padding:5px 0;
	text-decoration:none;
}
.middle .productsbar span {
	position:relative;
	color:#fff;
	font-weight:400;
	vertical-align:middle;
	top:-2px;
	display:inline-block;
	margin-right:4px;
}
.middle .featured-products {
	font-size:0;
	text-align:center;
	vertical-align:top;
}